/* General element box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    padding: 0px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navbar .menu {
    margin-right: 25px;
    width: 25px;
}

.nav-left p {
    font-weight: 700;
    font-size: 1.2em;
    color: #000;
}

.nav-left a {
    text-decoration: none;
}

.search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.search-box img {
    width: 15px;
}

.search-box input {
    border: none;
    outline: none;
    min-width: 400px;
    background: transparent;
    font-size: 1em;
    color: #606060;
    margin-left: 8px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .navbar {
        width: 100vw;
        padding: 10px;
    }
    .menu-item {
        display: none;
    }
    .navbar .logo {
        display: none;
    }
    .search-box {
        min-width: 120px;
    }
    .search-box input {
        min-width: 80px;
    }
    .search-box img {
    }
}
